body {
  background: white;
  color: black;
  font-family: monospace;
}

.title {
  margin: 20px;
  font-size: 2.0em;
  text-decoration: underline;
  text-align: center;
}

.content {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
}

.column {
  width: 50%;
  float: left;
}

.button-container {
  height: 20px;
}

.modal {
  display: none;
  position: fixed;
  width: 450px;
  top: 150px;
  left: 50%;
  margin-left: -275px;
  background: white;
  border: solid 1px black;
  padding: 50px;
  text-align: center;
}

.burger {
  margin-top: 5px;
  border: solid 1px black;
  width: 90%;
  padding: 2.5%
}

@media (min-width: 500px) {
  .content {
    width: 500px;
  }
}