body {
  background: white;
  color: black;
}

nav {
  height: 100px;
}

.content {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.column {
  width: 50%;
  float: left;
}

.outer {
  position: fixed;
}

.modal {
  display: none;
  position: fixed;
  width: 450px;
  top: 300px;
  left: 50%;
  margin-left: -275px;
  background: white;
  border: solid 1px black;
  padding: 50px;
  text-align: center;
}

.burger {
  margin-top: 2.5%;
  border: solid 1px black;
  width: 90%;
  padding: 2.5%
}

@media (min-width: 500px) {
  .content {
    width: 500px;
  }
}